<!--
**********************************************************
* Component Code remixed from page below:                *
* https://startbootstrap.com/                            *
**********************************************************
-->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger h33d" href="#page-top">Global</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto h43d">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Finance">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#DataViz">Data Viz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Data3D">Data 3D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Video">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#VR">VR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Intro Header -->
<!-- /* 3D CSS text from: http://markdotto.com/playground/3d-text/ */ -->
<header id="page-top" class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <!-- <h1 class="h13d brand-heading mx-auto">Global</h1> -->

        <div class="col-lg-8 mx-auto">
          <h1 class="h13d brand-heading mx-auto">Global</h1>
          <p class="h23d p-0">Awareness</p>
          <!-- <p class="h33d">Design, Software Development, Data Science</p> -->
          <!-- <a href="#services" class="btn">
            <i class="fa fa-angle-double-down"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</header>
