<section id="Finance" class="m-0 jumbotron text-center bg-dark text-white">
  <div class="container">
    <h1 class="jumbotron-heading h13d">Finance</h1>
    <p class="lead text-muted">Built on example charts from echarts.baidu.com</p>

  </div>
</section>

<section class="dash m-0 p-4 text-center" id="dash2">
  <div class="">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12 viz-item">
        <app-v21></app-v21>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 1</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 viz-item">
        <app-v22></app-v22>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 2</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 viz-item">
        <app-v23></app-v23>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 3</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>

      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v24></app-v24>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 4</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v25></app-v25>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 5</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class=" col-sm-12 viz-item">
        <app-v26></app-v26>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 6</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="m-0 jumbotron text-center bg-dark text-white">
    <div class="container">
      <h1 class="jumbotron-heading h13d"></h1>
    </div>
  </section>
