
<section class="m-0 jumbotron text-center bg-dark text-white">
  <div class="container">
  <h1 class="jumbotron-heading h13d">Mapping</h1>
  <p class="lead text-muted">Open Street Map</p>

  </div>
  </section>
  <section class="viz-map m-0 p-0 jumbotron text-center text-white">

    <div>
      <div class="map" leaflet [leafletOptions]="options"></div>
    </div>

  </section>
  <section class="m-0 jumbotron text-center bg-dark  text-white">
  <div class="container">
    <h1 class="jumbotron-heading h13d"></h1>
  </div>
  </section>
