<!-- WEBSITE BUILT ON ANGULAR 5 CLI PROJECT BASE -->

<!-- TOP -->
<app-header></app-header>


<app-viz0></app-viz0>

<!-- TWITTER SEARCH AWAITING ANGULAR 5 INTEGRATION -->
<!-- <app-twitter></app-twitter> -->

<!-- LIVE IEX EXCHANGE FINANCIAL DATA -->
<!-- <app-iexdata></app-iexdata> -->

<!-- 3D DATA GLOBE -->
<!-- <div class="d50"><app-egl3></app-egl3></div> -->

<!-- leaflet starter app from example -->
<!-- <app-leaflet></app-leaflet> -->

<!-- 3D GLOBE IFRAME -->
<app-viz2></app-viz2>

<!-- D3 HEXBIN - GLOBAL DATA ANALYSIS -->
<!-- <app-maphex></app-maphex> repo namespace collision -->
<app-maphexi></app-maphexi> <!-- iframe -->

<!-- WEATHER CHART FROM OWM API LIVE DATA -->
<app-weatherdash></app-weatherdash>


<app-parallax1></app-parallax1>


<!-- LEAFLET OSM MAPS -->
<app-map></app-map><!-- MAP POINTS/AREAS TO DO  -->
<!-- LIVE HEAT MAPS AWAITING ANGULAR 5 TWITTER INTEGRATION -->
<!-- <app-mapheat></app-mapheat> -->
<app-map-twitter></app-map-twitter>

<!-- LEAFLET GOOGLE MAPS -->
<!-- <app-mapgeo></app-mapgeo> -->

<!-- DASHBOARD - ECHARTS samples integration -->
<!-- <app-dash></app-dash> -->

<!-- 3D GLOBE IFRAME -->
<app-viz4></app-viz4>

<!-- FINANCE DASHBOARD - ECHARTS samples integration -->
<app-dash2></app-dash2>

<!-- CHART API DATA IEX TRADING LIVE -->
<app-chart1></app-chart1>
<!-- <app-chart2></app-chart2> --><!-- DATA HOOKUP TO DO  -->
<app-chart3></app-chart3>


<app-parallax2></app-parallax2>


<!-- BACKTESTING ALGORITHMIC TRADES - EXAMPLE -->
<app-algotrade></app-algotrade>

<!-- WEATHER -->
<!-- <app-weather></app-weather> -->

<!-- 3D GLOBE IFRAME -->
<app-viz3></app-viz3>

<!-- DASHBOARDS - ECHARTS -->
<app-dash3></app-dash3>

<app-parallax></app-parallax>

<!-- D3 - Example from d3js.org  -->
<!-- <app-></app-> -->

<!-- Echarts GL examples -->
<app-viz1></app-viz1>


<!-- YOUTUBE IFRAME EXAMPLE -->
<app-video></app-video>

<!-- DEVELOPMENT TOOLS -->
<app-tools></app-tools>

<!-- AFRAME VR LIVE - one live scene per page only -->
<app-vr></app-vr>
<div class="row" style="margin:0px;padding:0px;overflow:hidden">
  <div class="d50"><app-iframe1></app-iframe1></div>
  <div class="d50"><app-iframe3></app-iframe3></div>
</div>

<!-- CONTACT FORM -->
<app-contact></app-contact>
<!-- FOOTER -->
<app-footer></app-footer>



<!-- ZZZZZZZZZZZZZZZZZ -->

<!-- <div class=""><app-iframe2></app-iframe2></div> -->

<!-- <div class="row" style="margin:0px;padding:0px;overflow:hidden">
</div> -->
