<!--
**********************************************************
* Component Code remixed from page below:                *
* https://getbootstrap.com/                            *
**********************************************************
-->

<section class="m-0 jumbotron text-center bg-primary text-white">
  <div class="container">
    <h1 class="jumbotron-heading h13d">Tools</h1>
    <p class="lead">Programming Languages &amp; Tools</p>

    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicon-nodejs-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-javascript-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-python-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-angularjs-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-react-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-vuejs-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-docker-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-csharp-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-mongodb-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-postgresql-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-d3js-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-bootstrap-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-wordpress-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-webpack-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-github-plain "></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-ubuntu-plain"></i>
      </li>
    </ul>
  </div>
</section>

<section class="m-0 jumbotron text-center bg-primary text-white">
  <div class="container">
  </div>
</section>
