<section class="m-0 jumbotron text-center bg-dark text-white">
  <div class="container">
    <h1 class="jumbotron-heading h13d">Dashboards</h1>
    <p class="lead text-muted">Dashboard integrating sample charts from echarts.baidu.com</p>

  </div>
</section>

<section class="dash m-0 p-4 text-center" id="dash3">
  <div class="">
    <div class="row">

      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v31></app-v31>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 1</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v32></app-v32>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 2</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v33></app-v33>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 3</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v34></app-v34>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 4</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>

      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v35></app-v35>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 5</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>
      <div class=" col-md-6 col-sm-12 viz-item">
        <app-v36></app-v36>
        <div class="viz-titles">
          <h4 class="viz-title">Data Viz 6</h4>
          <h5 class="viz-subtitle">Charts</h5>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="m-0 jumbotron text-center bg-dark text-white">
    <div class="container">
      <h1 class="jumbotron-heading h13d"></h1>
    </div>
  </section>
